{% extends 'page_maitre.html' %} 

{% block titre %} Create an account {% endblock %}
{% block main %} 
<nav>
    <p>
      SQUISHMALLOWS <br>
      Squish 'em all!
    </p>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="account">Create an account</a></li>
        <li><a href="shop">Shop</a></li>
      </ul>
      <p>
        Collect as many squishy friends as your heart desires!
      </p>
    </nav>

<div id="container">
    <form method="post" action="https://philippefleury.com/backend.php">
    <fieldset>
        <legend>
            CREATE AN ACCOUNT
        </legend>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" class="firstname" placeholder="First Name">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" class="lastname" placeholder="Last Name">
        <label for="email">Email</label>
        <input type="email" name="email" class="email" placeholder="Email" id="email" required>
        <label for="adress">Adress</label>
        <input type="text" name="adress" placeholder="Adress">
        <label for="country">Country</label>
        <select id="Country" name="country">
    <optgroup label="Americas">
        <option value="north america">North America</option>
        <option value="central america">Central America</option>
        <option value="south america">South America</option>
    </optgroup>
    <optgroup label="Europe">
        <option value="germany">Germany</option>
        <option value="united kingdom">United Kingdom</option>
        <option value="france">France</option>
    </optgroup>
    </select>
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" placeholder="Phone number">
        <label for="inst">Delivery instructions</label>
        <textarea placeholder="Delivery instructions" name="delivery instructions"></textarea>
        <button type="submit" value="Submit">Submit</button>
    </fieldset>
</form>
</div>
{% endblock %}
