<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<script src="../static/js/script.js" defer></script>
    <title>{% block titre %}{% endblock %} - Squishmallows</title>

  </head>

  <body>
    
    <header>
        <a href="#">Share</a>
        <a href="#">Login</a>
      <input type="text" placeholder="Looking for something? 🔎︎">
    </header>


      <main>
      {% block main %}

     
      {% endblock %}
    </main>
    <footer>
      <p>
        « One squish a day keeps the doctor away »
       <p>
      - Someone with a high IQ
      </p>
      </p>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FL5HVCZ2L2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FL5HVCZ2L2');
</script>
</body>
</html>

