{% extends 'page_maitre.html' %}

{% block titre %}Purchase{% endblock %}
{% block main %}

<div id="container">

    <table>
        <tr>
          <th>Appearance</th>
          <th>Size</th>
          <th>Price</th>
          <th></th>
        </tr>
        <tr>
          <td><img src="static/img/moo.jpg" alt="Image"></td>
          <td>20"</td>
          <td>$39,99</td>
          <td><button type="submit">Add to cart</button></td>
        </tr>
        <tr>
            <td><img src="static/img/pink_moo.jpg" alt="Image"></td>
            <td>20"</td>
            <td>$39,99</td>
            <td><button type="submit">Add to cart</button></td>
          </tr>
        </tr>
        <td><img src="static/img/blue_moo.jpeg" alt="Image"></td>
        <td>20"</td>
        <td>$39,99</td>
        <td><button type="submit">Add to cart</button></td>
      </tr>
    </tr>
    <td><img src="static/img/purple_moo.jpg" alt="Image"></td>
    <td>20"</td>
    <td>$39,99</td>
    <td><button type="submit">Add to cart</button></td>
  </tr>
      </table>

</div>
{% endblock %}
